:root {
    --bgred: #660000;
    --bggreen: #005210;
    --bgblue: #0A3047;
    --bgyellow: #614505;
    --bgthing: #5C085E;
}


.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.8;
    background-image: linear-gradient(
        -70deg,
        var(--bgblue),
        var(--bgred),
        var(--bgthing),
        var(--bggreen),
        var(--bgyellow) 
    );
    background-size: 600% 600%;
    
    animation: move 50s infinite ;
}

@keyframes move {
    0% {
        background-position: 0%;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 100%;
    }

    75% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0%;
    }
}