:root {
    --green1: 183, 228, 199;
    --green2: 149, 213, 178;
    --green3: 116, 198, 157;
    --green4: 82, 183, 136;
    --green5: 64, 145, 108;
    --circle-size: 80%;
  }  

.introPage{
    position: absolute;
    height: 100vh;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

h1 {
    font-weight: 300;
}

h3 {
    display: flex;
    text-align: center;
    font-size: 4rem;
    font-weight: 150;
    line-height: 1;
}

h4 {
    font-weight: 200;

}

.blobContainer {
    filter: url(#goo) blur(20px);
    position: absolute;
    width: 100vw;
    height: 100vh;

}

dialog {
    position: absolute;
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}

.blob1 {
    position: absolute;
    width: 80vh;
    height: 80vh;

    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(var(--green3), 0.8) 0, rgba(var(--green3), 0) 80%) no-repeat;
    mix-blend-mode: hard-light;

    top: calc(0% - var(--circle-size) / 2 );
    left: calc(50% - var(--circle-size) / 2 - 20vh);
    
    animation: moveLR 30s infinite;
}

.blob2 {

    position: absolute;
    width: 80vh;
    height: 80vh;

    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(var(--green1), 0.8) 0, rgba(var(--green1), 0) 80%) no-repeat;
    mix-blend-mode: hard-light;

    top: calc(40% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2 + 80vh);
    
    transform-origin: calc(50% - 400px);
    animation: moveCircle 30s infinite;
}

.blob3 {
 
    position: absolute;
    width: 80vh;
    height: 80vh;

    border-radius: 50%;

    background: radial-gradient(circle at center, rgba(var(--green2), 0.8) 0, rgba(var(--green2), 0) 80%) no-repeat;
    mix-blend-mode: hard-light;


    top: calc(30% - var(--circle-size) / 2);
    left: calc(60% - var(--circle-size) / 2 - 40vh);

    animation: moveUD 30s infinite ; 
}

.blob4 {
    position: absolute;
    width: 80vh;
    height: 80vh;

    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(var(--green4), 0.8) 0, rgba(var(--green4), 0) 80%) no-repeat;
    mix-blend-mode: hard-light;

    top: calc(80% - var(--circle-size) / 2);
    left: calc(80% - var(--circle-size) / 2 + 40vh);
    
    transform-origin: calc(50% - 400px);
    animation: moveCircle 30s infinite reverse;
}

.blob5 {
    position: absolute;
    width: 60vh;
    height: 60vh;

    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(var(--green5), 0.8) 0, rgba(var(--green5), 0) 80%) no-repeat;
    mix-blend-mode: hard-light;

  
}

@keyframes moveCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveUD {
    0% {
        transform: translate(0%,0%);
    }
    25%{
        transform: translate(0%,50%);
    }
    50% {
        transform: translate(0%,100%);
    }
    75%{
        transform: translate(0%,50%);
    }
    100% {
        transform: translate(0%,0%);
    }
}

@keyframes moveLR {
    0% {
        transform: translate(0%,0%);
    }

    50% {
        transform: translate(100%,100%);
    }
    100% {
        transform: translate(0%,0%);
    }
}