body {
    min-height: 100vh;
    color: #FFFFFF;
    font-family: "Manrope", sans-serif;
    overflow: hidden;
}

.header{
    z-index: 2;
    position: fixed;
    height: 8vh;
    width: 100vw;
    border-bottom: solid 2px #D9D9D9;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
    font-size: 1rem;
    opacity: 0.8;
}

.title {
    font-size: 2rem;
    grid-column: 2/3;
}

.container {
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 10vh;
    z-index: 1;
}

.footer {
    width: 100%;
    height: 4vh;
    position: fixed;
    bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vh;
    z-index: 1;
}

a {
    all: unset;
    margin-left: 5px;
    color: #469be0;
}
a:hover {
    cursor: pointer;
}

.bar {
    position: absolute;
    visibility: hidden;
    width: 80%;
    height: 7vh;
}

.meter {
    width: 0.5em;
    height: 2.5em;
}

.knob {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    border: solid 2px #D9D9D9; 
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.inner_cir {
    position: absolute;
    z-index: 1;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    border: solid 1px #D9D9D9;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: transform 1s ease;
}

.cone {
    width: 0vh;
    height: 0vh;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    opacity: 0.5;
    border: solid 15px white;
    margin-bottom: 40vh;
    transition: opacity 1s, border 1s;
}

.quote {
    font-size: 1.3rem;
}

.quote,
.footer span:first-of-type {
    pointer-events: none;
    user-select: none;
    touch-action: none;
}


.volBtn {
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 12vh;
    right: 2vh;
    animation: blurOut 1 0.8s ease forwards;
}

.volBtn::before {
    position: absolute;
}

.volBtn:hover {
    cursor: pointer;
    animation: blurIn 1 0.3s ease backwards;
}

.volHigh{
	background-image: url("data:image/svg+xml,%3C svg color='white' width='60' height='60' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-volume-2'%3E%3C polygon points='11 5 6 9 2 9 2 15 6 15 11 19 11 5'%3E%3C/polygon%3E%3C path d='M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07'%3E%3C/path%3E%3C/svg%3E ");
}

