.introPage{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(161, 161, 240);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    z-index: 1;
}
