body {
    background-color: rgb(65, 65, 65);
    
}

.container {

    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 10vh;
}

.bar {
    width: 100vh;
    height: 7vh;
    background-image: url(./images/Group\ 12.png);
    background-size: contain;  
}

.meter {
    width: 0.5em;
    height: 2.5em;
    background-color: red;
    border-radius: 0 0 20px 20px;
    position: relative;
}

.knob {
    width: 40vh;
    height: 40vh;
    background-image: url(./images/Group\ 3.png);
    background-size: contain;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.volBtn {
    width: 8vh;
    height: 10vh;
    background-image: url(./images/volume/volume-high.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    align-self: flex-end;
    top: 2vh;
    right: 2vh;
}
